/* ogólne */ 
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');


* {
    margin:0;
    font-family:"bitter";
    padding:0;
}

.textOpacity {
    animation: 2s anim-textOpacity;
    animation-iteration-count:1;
}
@keyframes anim-textOpacity {
    from {opacity:0;}
    to {opacity:1;}
  }


.lineUp {
    animation: 2s anim-lineUp ease-out infinite;
    animation-iteration-count:1;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  

body {
    width:100%;
}

/* nawigacja */
header {
    width:100%;
    position:sticky;
    white-space: nowrap;
}

#contact {
    font-size:1.1em
}

#logo {
    font-family:serif;
    font-size: 2em;
    text-decoration:underline red solid;
    text-decoration-thickness:3px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-buttons {
padding: 1em 1em 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
    display: inline-block;
    list-style: none;
    padding: 0 2em;
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    transition:0.1s;
    color:rgba(0, 0, 0, 0.576)
}

#navbar li:hover {
    font-size: 1.6em;
    transition:0.1s;
    color:black;
}

/* koniec nawigacji */

/* glowna sekcja */
#main {
    width:100%;
    position:relative;
    background:
    radial-gradient(circle at center, rgba(104, 1, 1, 0.5) 40%, rgba(0, 0, 0, 0.7) 90%),url(src/background-1.jpg);

}
 /* fala na górze */
.wave-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
    transform: rotateY(180deg);
}

.wave-1 .shape-fill {
    fill: #FFFFFF;
}

#main-content {
    width:100%;
    height:40em;
    display:flex;
    justify-content:space-around;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column;
}

#main-content div {
    text-align:center;
    color:white;
    font-size:3em;
}

#main-title {
    font-size:1.5em;
}

/* koniec sekcji głównej */

#galleryContainer {
    background: linear-gradient(0deg, rgba(255,112,112,1) 0%, rgba(255, 112, 112, 0.718) 100%), url("src/panterka-1.jpg");
    background-color: rgb(255,112,112);
    background-repeat: no-repeat;
    background-size:cover; 
    height: 20em;
    padding: 4em 0em 4em 0em;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column
}

/* galeria */
#gallery {
    position:relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 6em;
}

.thumbnail {
    max-width:20em;
    max-height:22em;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 7px 12px 0px rgba(0, 0, 0, 0.5); 
}

.thumbnail img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.thumbnail:hover img {
    transform: scale(1.05);
}

/* koniec galerii */

/* poczatek cennika */

#pricing {
    width:100%;
}

#pricing-container {

height:50em;
display:flex;
justify-content:space-around;
text-align:center;
}


#pricing-container div img {
    width:35vw;
    padding-left:10vw;
    height:50vw;
}

#table-container {
display:flex;
justify-content:center;
align-items:center;
font-size:1.5em;
padding-right:10vw;
width:35vw;
}

table {
    width:100%;
}

table, th, td {
    border: 2px solid rgba(0, 0, 0, 0.109);
    border-radius:5px;
  }

.even {
    background-color:#ff7070
}

/* koniec cennika */

/* początek sekcji o salonie */

#about {
    height: 20em;
    width:100%;
}

.wave-2 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-2  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 46px;
}

.wave-2 .shape-fill {
    fill: #ff7070;
}

/* DOKONCZYC TABELKE, ZMIENIC KLASY NA ID, ZROBIC DWIE SEKCJE GÓRA DÓŁ */

/* sources: https://commons.wikimedia.org/wiki/File:Leopard%27s_rosettes.jpg */