/* ogólne */ 
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');


* {
    margin:0;
    font-family:"bitter";
    padding:0;
}

html, body {
    width:100%;
}

.textOpacity {
    animation: 2s anim-textOpacity;
    animation-iteration-count:1;
}
@keyframes anim-textOpacity {
    from {opacity:0;}
    to {opacity:1;}
  }

a {
    text-decoration:none;
}


.lineUp {
    animation: 2s anim-lineUp ease-out infinite;
    animation-iteration-count:1;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  

/* nawigacja */
header {
    width:100%;
    position:sticky;
    white-space: nowrap;
}

#contact {
    font-size:1.1em
}

u {
    text-decoration:underline 4px solid red;
}

#logo {
    font-family:serif;
    font-size: 2em;
    text-decoration-thickness:3px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-buttons {
padding: 1em 1em 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
    display: inline-block;
    list-style: none;
    padding: 0 2em;
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    transition:0.1s;
    color:rgba(0, 0, 0, 0.576)
}

#navbar li:hover {
    font-size: 1.6em;
    transition:0.1s;
    color:black;
}

/* koniec nawigacji */

/* glowna sekcja */
#main {
    width:100%;
    position:relative;
    background:
    radial-gradient(circle at center, rgba(104, 1, 1, 0.5) 40%, rgba(0, 0, 0, 0.7) 90%),url(src/main-bg-1.jpeg);
    background-repeat: no-repeat;
    background-size:cover; 

}
 /* fala na górze */
.wave-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.wave-1 .shape-fill {
    fill: #FFFFFF;
}

#logo-image {
    opacity:0.8;
    width:10em;
    height:10em;
}

#main-content {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column;
}

#main-content div {
    text-align:center;
    color:white;
    font-size:3em;
    margin: 2em 0 2em 0;
}

#main-title {
    font-size:1.5em;
}

/* koniec sekcji głównej */

#gallery {
    background: linear-gradient(0deg, rgba(255,112,112,1) 0%, rgba(255, 112, 112, 0.718) 100%), url("src/panterka-1.jpg");
    background-color: rgb(255,112,112);
    background-repeat: no-repeat;
    background-size:cover; 
    padding: 4em 0em 4em 0em;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column
}

/* galeria */
#gallery-container {
    position:relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 6em;
}

.thumbnail {
    max-width:20em;
    max-height:26em;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 7px 12px 0px rgba(0, 0, 0, 0.5); 
}

.thumbnail img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.thumbnail:hover img {
    transform: scale(1.05);
}

/* koniec galerii */

/* poczatek cennika */

#pricing {
    width:100%;
}

#pricing-container {
display:flex;
justify-content:space-around;
text-align:center;
}


#pricing-container div img {
    width:35vw;
    padding-left:10vw;
    height:50vw;
}

#table-container {
display:flex;
justify-content:center;
align-items:center;
font-size:1.5em;
padding-right:10vw;
width:35vw;
}

#table-container h1 {
    font-size:2em;
}

table {
    width:100%;
}

table, th, td {
    border: 2px solid rgba(0, 0, 0, 0.109);
    border-radius:5px;
  }

.even {
    background-color:#ff7070
}

/* koniec cennika */

/* początek sekcji o salonie */

.wave-2 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-2  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 46px;
}

.wave-2 .shape-fill {
    fill: #ff7070;
}

#about {
    padding:0 0 5em 0;
    width:100%;
    position:relative;
}

#about-container {
    display:flex;
    text-align:center;
    width:60%;
    padding:0 20% 0 20%;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
}

#about-container h1 {
    font-size:6vh;
}

#about-container p {
    font-size:4vh;
}

#map-small {
    display:none;
}

/* koniec cennika */

/* poczatek formularza */

#appointment {
    font-size:1.5em;
    width:100%;
    padding-top:2em;
    display:flex;
    text-align:center;
    justify-content:space-around;
    flex-direction:column;
}

#appointment-container {
    width:60%;
    padding:0 20% 0 20%;
}

input[type=text] {
    padding: 0.5vw;
    font-size:1.3vw;
    border:2px solid black;
    text-align: center;
    box-sizing: border-box;
  }

input[type=submit] {
    font-size:1.5vw;
    padding:0 1.5vw 0 1.5vw;
    border:2px solid black;
  }

  textarea {
    padding:0.5vw;
    text-align: center;
    border:2px solid black;
  }

  .wave-3 {
    width: 100%;
    height:8em;
    overflow: hidden;
    transform: rotate(180deg);
}

.wave-3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.wave-3 .shape-fill {
    fill: #FF7070;
}

/* koniec formularza */

footer {
    width:100%;
    height:10vh;
    background: linear-gradient(0deg, rgba(255,112,112,0.4842739586068803) 0%, rgba(255,112,112,1) 100%), url("src/panterka-1.jpg");
    background-color: rgb(255,112,112);
    background-repeat: no-repeat;
    background-size:cover; 
}

@media screen and (max-width: 1200px){
    body {
        box-sizing: border-box;
    }

    header {
        padding-bottom:2em;
    }
    
    #navbar, #navbar-buttons {
        all: initial;
    }

    #navbar {
        font-size:1.7em;
    }

    #navbar-buttons ul li, #logo, #contact-container {
        text-align:center;
    }

    #navbar li {
        display:block;
        font-size:1.8em;
        padding:0.5em 0 0.5em 0;
    }


    /*navbar*/
    #main {
        font-size:0.7em;
        width:auto;
    }

    #map {
        display:none;
    }

    #map-small {
        display:block;
    }

    /*main*/
    #gallery-container {
        flex-wrap:wrap;
        gap:1em;
    }
    .thumbnail {
        max-width:auto;
        max-height:auto;
    }
    /*gallery*/
    #pricing-container-photo {
        display:none;
    }
    #table-container {
        width:70vw;
        font-size:1.7em;
        padding: 0;
    }

    #pricing-container h1 {
        font-size:70px;
    }

    /*pricing*/
    #about-container p {
        font-size:2em;
    }

    #about-container h1 {
        font-size:70px;
    }
    

    /*about*/
    #appointment-container h1{
        font-size:70px;
    }

    input[type=text] {
        padding: 0.5vw;
        font-size:4vw;
        text-align: center;
        box-sizing: border-box;
      }
    
    input[type=submit] {
        font-size:4vw;
        padding:1vw 10vw 1vw 10vw;
      }
    
      textarea {
        font-size:3vw;
        text-align: center;
      }

    /*notice*/
  }

/* Do dokończenia: media - zmienić rozmiary guzików formularza, wymienić obrazki */

/* sources: https://commons.wikimedia.org/wiki/File:Leopard%27s_rosettes.jpg */