* {
    margin:0;
    padding:0;
}

body {
    width:100%;
}

header {
    width:100%;
    position:sticky;
    white-space: nowrap;
}

#logo {
    font-family:serif;
    font-size: 2em;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-buttons {
padding: 1em 2em 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
    display: inline-block;
    list-style: none;
    padding: 0 3em;
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    transition:0.1s;
}

#navbar li:hover {
    font-size: 1.6em;
    transition:0.1s;
}

#main {
    width:100%;
    position:fixed;
}

#main-container {
    height: 40em;
        background:
               /* top, transparent black, faked with gradient */ 
               radial-gradient(circle at center, rgba(0, 0, 0, 0.4) 40%, rgba(0,0,0,0.7) 90%),url(src/background-1.jpg);

}